@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: sans-serif;
  background-color: #F5FEFF;
}

.header {
  position: relative;
}

.content {
  width: 100%;
  max-width: 90%;
  margin: auto;
}

.menu {
  width: 80px;
}

.member-infos img {
  width: 50px;
  height: 50px;
}

.member-infos .name {
  font-family: 'Amatic SC';
  color: #19608D;
}

.member-infos .function {
  font-family: 'Amatic SC';
  color: #19608D;
}

.member-infos .name::after {
  margin-left: 5px;
  content: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06085 13.0921C0.853966 13.2337 0.709583 13.4154 0.627703 13.6372C0.55548 13.8732 0.577316 14.0758 0.693209 14.2451C0.809103 14.4145 1.10148 14.432 1.57035 14.2976C2.23698 14.1108 12.5862 7.17355 13.9713 6.3293C14.4999 6.00902 14.8358 5.79987 14.979 5.70185C15.1859 5.56027 15.3254 5.37152 15.3977 5.1356C15.4795 4.9138 15.4625 4.71821 15.3466 4.54886C15.2308 4.37951 14.9384 4.36201 14.4695 4.49638C13.8029 4.6832 3.45364 11.6205 2.06856 12.4647C1.53998 12.785 1.20408 12.9941 1.06085 13.0921Z' fill='%2319608D'%3E%3C/path%3E%3Cpath d='M5.36559 0.977667C5.22236 1.07568 5.13681 1.20676 5.10893 1.37089C5.07139 1.52091 5.10091 1.66648 5.19749 1.80761C5.36167 2.04753 5.67424 2.60625 7.43739 3.04747C9.20054 3.4887 9.20054 3.4887 12.1364 4.18889C13.8345 4.54507 14.4577 4.76308 14.5446 4.89009C14.8054 5.27113 14.3519 5.76483 14.5086 6.40358C14.6653 7.04232 14.7632 7.73169 14.8023 8.47167L14.8728 9.39083C14.8728 9.39083 14.9225 9.75706 14.9808 10.5253C15.0392 11.2935 14.991 12.1748 15.1574 12.8276C15.2919 13.5023 15.2648 14.009 15.5256 14.39L16.4348 14.3203L16.4204 14.2991C16.6358 13.9652 16.6565 13.0393 16.4823 11.5214C16.3338 10.0068 16.3063 9.19529 16.137 6.98813C15.9677 4.78096 16.0905 4.24663 15.9002 3.90026L5.84812 0.709618L5.59492 0.85181C5.53752 0.870369 5.46108 0.912323 5.36559 0.977667Z' fill='%2319608D'%3E%3C/path%3E%3C/svg%3E");
}