* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: sans-serif;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.hidden {
  display: none;
}

.text-white {
  color: #fff;
}

.room-info {
  position : relative;
  z-index: 1;
}

.interact-text {
  position : absolute;
  top : -40%;
  left : -2.5%;
  z-index : 1;
}

.dialogue-box {
  position : absolute;
  bottom : 10%;
  left : 50%;
  z-index : 1;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  width : 50%;
  color : white;
}

.dialogBox {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  width: auto;    /* Width based on content */
  height : 42px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #E6E8EA;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  transition: padding 0.5s; /* Transition on padding instead of width */
  z-index : 9999;
  display : flex;
  align-items : center;
}