@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
  margin: 0;
  padding: 0;
}

.loader {
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #071E2D;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  overflow: hidden;
  font-family: sans-serif;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.hidden {
  display: none;
}

.text-white {
  color: #fff;
}

.room-info {
  position: relative;
  z-index: 1;
}

.interact-text {
  position: absolute;
  top: -40%;
  left: -2.5%;
  z-index: 1;
}

.dialogue-box {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  width: 50%;
  color: white;
}

.dialogBox {
  font-family: 'Amatic SC';
  font-size: 1.5rem;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  width: auto;
  /* Width based on content */
  height: 42px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #E6E8EA;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  transition: padding 0.5s;
  /* Transition on padding instead of width */
  z-index: 9999;
  display: flex;
  align-items: center;
  opacity: 0;
}

.place {
  font-family: 'Amatic SC';
  font-size: 1.5rem;
  color: white;
  position: absolute;
  bottom: 5vh;
  left: 5vh;
  z-index: 100;
}

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 24px;
  gap: 8px;
  background: radial-gradient(81.39% 81.39% at 50% 50%, rgba(40, 115, 163, 0.02) 25.95%, rgba(14, 72, 108, 0.02) 100%);
  border: 1px solid #E6E8EA;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  position: absolute;
  right: 5vh;
  bottom: 5vh;
  z-index: 10;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 1.5rem;
}

.inventory-box {
  width: 60px;
  height: 60px;
  border: 1px solid #E6E8EA;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.letter-icon {
  display: none;
  /* transform scale & translate to center the icon */
}

.fragment-icon {
  display: none;
  /* transform scale & translate to center the icon */
}

.letter-container {
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  position: fixed;
  padding: 20px;
  box-sizing: border-box
}

.menu {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  float: left;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: fit-content;
}

.menu-button p,
a {
  font-family: 'Amatic SC';
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  z-index: 2;
  font-family: 'Urbanist';
}

.popup-header,
.popup-title,
.popup-content {
  width: 100%;
  height: auto;
}

.popup-title {
  margin-top: 5px;
}

.popup-content {
  margin-top: 30px;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup .close-button {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.popup-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* .popup-button svg {
  box-shadow: 0px 4px 4px 0px #00000040;
} */

.popup-button .hover {
  transition: all ease 0.5s;
}

.popup-button:hover.primary-button .hover {
  fill: white;
  stroke: #307098;
}

.popup-button:hover.secondary-button .hover {
  fill: #307098;
  stroke: white;
}

.options-popup,
.help-popup,
.clue-popup {
  display: none;
}

.show {
  display: flex;
}

.clue-popup .popup {
  background-color: transparent;
  box-shadow: none;
}

.clue-popup .popup .popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button.primary-button {
  position: relative;
}

#dialog-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 1.5rem;

  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  background: rgba(255, 255, 255, 0.3);
  /* Palette de gris/100 */

  border: 1px solid #E6E8EA;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 2px;
}

.loader {
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #071E2D;
  display: flex;
  align-items: center;
  justify-content: center;
}